/* Starter Code */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}


/* Dark mode */
:root {
  --bs-dark-bg: #343a40;
  --bs-dark-color: #ffffff;
}

.body-dark {
  background-color: var(--bs-dark-bg);
  color: var(--bs-dark-color);
}

.dark-mode {
  background-color: #343a40;
  color: #ffffff;
}

.dark-mode .modal-content {
  background-color: #454d55;
  color: #ffffff;
}